In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# read csv files to dataframe

train = pd.read_csv('Train_data.csv')
test = pd.read_csv('Test_data.csv')
train.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal

In [ ]:
# set test default class data
test_list = [test]
for dataset in test_list:
  dataset['class'] = 0

In [ ]:
train_list = [train]
for dataset in train_list:
  dataset['class'] = dataset['class'].map( {'normal': 0, 'anomaly': 1} ).astype(int)

In [ ]:
original_train = train.copy()
full_data = train_list + test_list

In [ ]:
def get_service_category(name):
  if name.find('ssh') != -1 or name.find('telnet') != -1:
    return 0
  if name.find('ftp') != -1 or name.find('tfpt') != -1:
    return 1
  if name.find('smtp') != -1 or name.find('imap') != -1 or name.find('pop') != -1:
    return 2
  if name.find('http') != -1:
    return 3
  if name.find('systat') != -1 or name.find('netstat') != -1:
    return 4
  if name.find('hostname') != -1 or name.find('domain') != -1:
    return 5
  if name.find('icmp') != -1 or name.find('eco') != -1 or name.find('ecr') != -1:
    return 6
  if name.find('other') != -1:
    return 7
  if name.find('private') != -1:
    return 8
  # undefined
  return 9

def get_flag_category(name):
  if name.find('RSTOS0') != -1 or name.find('SH') != -1:
    return 4
  if name.find('S0') != -1 or name.find('REJ') != -1:
    return 0
  if name.find('S1') != -1 or name.find('SF') != -1 or name.find('OTH') != -1:
    return 1
  if name.find('S2') != -1 or name.find('RSTO') != -1:
    return 2
  if name.find('S3') != -1 or name.find('RSTR') != -1:
    return 3
  # undefined
  return 5

In [ ]:
for dataset in full_data:
  dataset['protocol_type'] = dataset['protocol_type'].map( {'tcp': 0, 'udp': 1, 'icmp': 2} ).astype(int)
  dataset['service'] = dataset['service'].apply(get_service_category)
  dataset['flag'] = dataset['flag'].apply(get_flag_category)
  # dataset['class'] = dataset['class'].map( {'normal': 0, 'anomaly': 1} ).astype(int)

In [ ]:
train.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,0,1,1,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,0
1,0,1,7,1,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,0
2,0,0,8,0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,1
3,0,0,3,1,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,0
4,0,0,3,1,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0

In [ ]:
train.to_csv('Train.csv')
test.to_csv('Test.csv')